{% extends "layout.html" %}

{% block content1 %}
{% if 'patients_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "patients_edit2" method = "POST">
	<p>patient_id<input class="form-control" type = "text" name = "patient_id" style='width: 100%;' value='{{eresult["patient_id"]}}' /></p>
	<p>name<input class="form-control" type = "text" name = "name" style='width: 100%;' value='{{eresult["name"]}}'
		maxlength="30" /></p>
	<p>sex  &nbsp <input type="radio" name="sex" value="1" checked> Male  &nbsp
				  <input type="radio" name="sex" value="0" > Female<br></p>
	<p>phone<input class="form-control" type = "text" name = "phone" style='width: 100%;' value='{{eresult["phone"]}}' /></p>
	<p>dob<input class="form-control" type = "date" name = "dob" style='width: 100%;' value='{{eresult["dob"]}}' /></p>
	<p><input type = "hidden" name = "old_patient_id" value='{{eresult["patient_id"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "patients_insert" method = "POST">
	<p>patient_id: <input class="form-control" type = "text" name = "patient_id" style='width: 100%;'/></p>
	<p>name: <input class="form-control" type = "text" name = "name" style='width: 100%;' maxlength="30"/></p>
	<p>sex: &nbsp <input type="radio" name="sex" value="1" checked> Male &nbsp
		<input type="radio" name="sex" value="0" > Female<br></p></p>
	<p>phone: <input class="form-control" type = "text" name = "phone" style='width: 100%;'/></p>
	<p>dob: <input class="form-control" type = "date" name = "dob" style='width: 100%;'/></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
 <thead>
  <tr>
	<th>patient_id</th>
	<th>name</th>
	<th>sex</th>
	<th>phone</th>
	<th>dob</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["patient_id"]}}</td>"
<td>{{result["name"]}}</td>"
<td>{{result["sex"]}}</td>"
<td>{{result["phone"]}}</td>"
<td>{{result["dob"]}}</td>"
<td align="center"><a href = "{{ url_for('patients_edit1', patient_id=result['patient_id'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('patients_delete', patient_id=result['patient_id'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}