{% extends "layout.html" %}

{% block content1 %}
{% if 'appointments_edit1' in request.url %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
   <strong>Your turn!</strong> Edit your selected data line here ...
 </div>

 {% for eresult in eresults %}
<form action = "appointments_edit2" method = "POST">
	<p>doctor_id<input class="form-control" type = "text" name = "doctor_id" style='width: 100%;' value='{{eresult["doctor_id"]}}' /></p>
	<p>patient_id<input class="form-control" type = "text" name = "patient_id" style='width: 100%;' value='{{eresult["patient_id"]}}' /></p>
	<p>date<input class="form-control" type = "date" name = "date" style='width: 100%;' value='{{eresult["date"]}}' /></p>
	<p>time<input class="form-control" type = "time" name = "time" style='width: 100%;' value='{{eresult["time"]}}' /></p>
	<p>description<input class="form-control" type = "text" name = "description" style='width: 100%;' value='{{eresult["description"]}}' maxlength="100"/></p>
	<p><input type = "hidden" name = "old_doctor_id" value='{{eresult["doctor_id"]}}' /></p>
	<p><input type = "hidden" name = "old_patient_id" value='{{eresult["patient_id"]}}' /></p>
	<p><input type = "hidden" name = "old_date" value='{{eresult["date"]}}' /></p>
	<p><input type = "hidden" name = "old_time" value='{{eresult["time"]}}' /></p>
{% endfor %}

   <br>

   <p><input class="btn-primary" type = "submit" value = "Update Data" /></p>
 </form>
</div>

{% else %}
<div style='margin-left: 100px; width: 45%;'>
  <div class="alert alert-info" role="alert">
    <strong>Your turn!</strong> Insert your new data line with this form ...
  </div>

  <form action = "appointments_insert" method = "POST">
	<p>doctor_id: <input class="form-control" type = "text" name = "doctor_id" style='width: 100%;'/></p>
	<p>patient_id: <input class="form-control" type = "text" name = "patient_id" style='width: 100%;'/></p>
	<p>date: <input class="form-control" type = "date" name = "date" style='width: 100%;'/></p>
	<p>time: <input class="form-control" type = "time" name = "time" style='width: 100%;'/></p>
	<p>description: <input class="form-control" type = "text" name = "description" style='width: 100%;' 
		maxlength="100" /></p>
	<p><input class="btn-primary" type = "submit" value = "Insert Data" /></p>
</form>
</div>


{% endif %}
{% endblock content1 %}

{% block content2 %}

<table class = 'table table-hover' style = 'margin-left: 100px; margin-right: 100px; width: 90%;'>
 <thead>
  <tr>
	<th>doctor_id</th>
	<th>patient_id</th>
	<th>date</th>
	<th>time</th>
	<th>description</th>
</tr>
</thead>

{% for result in results %}
<tr>
<td>{{result["doctor_id"]}}</td>"
<td>{{result["patient_id"]}}</td>"
<td>{{result["date"]}}</td>"
<td>{{result["time"]}}</td>"
<td>{{result["description"]}}</td>"
<td align="center"><a href = "{{ url_for('appointments_edit1', doctor_id=result['doctor_id'], patient_id=result['patient_id'], date=result['date'], time=result['time'])}}"><i class="fas fa-edit"></a></td>
   <td align="center"><a href = "{{ url_for('appointments_delete', doctor_id=result['doctor_id'], patient_id=result['patient_id'], date=result['date'], time=result['time'])}}"><i class="fas fa-trash-alt"></a></td>
   </tr>
   {% endfor %}
 </table>
 {% endblock content2 %}